.me img {
    border: radius 10%;
    position: relative;
    height: 400px;
    width: 400px;
    float: right;

}

nav ul{
    display: inline;
    padding:0px;
    margin:0px;
}

nav ul li{
    display: inline;
}

.navlink{
    padding: 15px;
    font-size: xx-large;
}

.my-name{
    float:right;
    

}

body {
    font-family: Georgia, Helvetica,'Times New Roman', Times, serif;
    background-color:#FF0000;

}

:root {
    --firstcolor:#FF0000;
    --Secondcolor: #00FF00;
    --Thirdcolor: #FFFF00;
    --Forthcolor: #000000;
    --Fifthcolor:#FFFFFF;

}



